.navbar{
    //background-color: rgb(237, 226, 226);
    margin-top: 5px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 2.5px solid #000000;
    border-left: 0;
    border-right: 0;

    .link{
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 5px;
        padding-bottom: 5px;
        color: black;
        text-decoration: none;
    }
    .link:hover, .link:active .link:visited {
        background-color: #000000;
        color: white;
        border-radius: 5px;
    }
}